body {
    font-size: 0.8rem;
    background: #efeff3;
}
.form-control, .btn {
    font-size: inherit;
}
.form-group {
    margin-bottom: .4rem;
}
pre code {
    white-space: pre-wrap;
}
#sitemap {
    padding-left: 2px;
    margin-bottom: 0;
}
#sitemap a:hover {
    color: inherit;
    text-decoration: none;
}
#sitemap li {
    list-style-type: none;
    position: relative;
}
#sitemap li .name {
    position: relative;
    top: -1px;
    left: 3px;
}
#sitemap li:hover {
     background-color: #e5e5ef;
}
#sitemap li.current  {
    background-color: #b8b8c7;
    color: #000;
    padding-left: 3px;
}
#sitemap li.acm-free .name {
    color: yellowgreen;
}
#sitemap li.acm-guard .name {
    color: red;
}
#sitemap li.current .name {
    color: black;
}
.response-body mark {
    background-color: yellow;
}
.find-input-cnt {
    position: absolute;
    top: 7px;
    right: 2px;
    color: #ccc;
    user-select: none;
    background: #fff;
}
.menu-header {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 6px;
    margin-bottom: 0;
    font-weight: 600;
}
.form-control::-webkit-input-placeholder { color: #a2a2a2; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #a2a2a2; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #a2a2a2; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #a2a2a2; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #a2a2a2; }  /* Microsoft Edge */

#sitemap .badge {
    font-size: 9px;
    font-weight: 400;
    position: absolute;
    top: 3px;
    right: 3px;
    float: right;
}
#sitemap .badge-secondary {
    color: #444;
    background-color: #e9e9ef;
}