
<form action="/" method="post" class="mt-2">

    <div class="form-group row">
        <label for="inputHost" class="col-sm-2 col-form-label">Host</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputHost" name="host" value="{{Host}}"
                   placeholder="http://example.com">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputUri" class="col-sm-2 col-form-label">Uri</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUri" name="uri" value="{{Uri}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputCookies" class="col-sm-2 col-form-label">Cookies</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCookies" name="cookies" value="{{Cookies}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputUserAgent" class="col-sm-2 col-form-label">User Agent</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUserAgent" name="user-agent" value="{{UserAgent}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputParams" class="col-sm-2 col-form-label">Form data</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="inputParams" rows="3" name="params" placeholder="id=12
params[]=100
amount=$SET <- to run multiple requests">{{Params}}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputSet" class="col-sm-2 col-form-label">Data set</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="inputSet" rows="3" name="set" placeholder="-1
0
1234">{{Set}}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Run</button>
        </div>
    </div>

</form>
