<a href="?sitemap={{Id}}" title={{ResponseType}}>
    <li class="menu-item{{#IsCurrent}} current{{/IsCurrent}} acm-{{Acm}}">
        <span class="name">{{Uri}}</span>
        <span class="badge badge-secondary">{{ResponseType}}</span>
    </li>
</a>