<div class="card one-response mb-2" data-form="{{FormData}}" data-response-id="{{ResponseId}}">
    <div class="card-body">

        <div class="mb-2">
            <div class="">
                Http Code: <b>{{HttpCode}}</b>
                Time: <b>{{Time}}</b>
                Form data: <b>{{FormData}}</b>
                Content length: <b>{{ContentLength}}</b>
                Content-Type: <b>{{ContentType}}</b>
            </div>
        </div>

        <ul class="nav nav-pills mb-2" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#tab-raw-{{ResponseId}}" role="tab">Raw</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#tab-render-{{ResponseId}}" role="tab">Render</a>
            </li>
            <li class="nav-item">
                <a class="ml-1 nav-link active bg-info button-copy-request" role="tab" href="#">Copy Request</a>
            </li>
            <li class="nav-item position-relative">
                <input class="form-control find-input ml-2" type="text" placeholder="find"><span class="find-input-cnt">0</span>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade show active" id="tab-raw-{{ResponseId}}" role="tabpanel">
                <div class="card bg-dark">
                    <div class="card-body" style="max-height: 500px; overflow: auto;">
                        <pre class="mb-0">
                            <code class="text-light response-body">{{Body}}</code>
                        </pre>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab-render-{{ResponseId}}" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <iframe src="/iframe?id={{ResponseId}}" frameborder="0" width="100%" height="500px"></iframe>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

