<div class="sitemap-block">
    {{#IsSitemap}}
        <div class="menu-header">SITEMAP:
            <span class="badge bg-success">free</span>
            <span class="badge bg-info">logged</span>
            <span class="badge bg-danger">guard</span>
        </div>
        <ul id="sitemap" class="mt-1">{{{SitemapHtml}}}</ul>
    {{/IsSitemap}}

    <form action="/sitemap" method="POST" class="mt-2">
        <div class="form-group">
                    <textarea class="form-control" id="inputSitemap" rows="2" name="sitemap" placeholder="/Module/Cont/Meth
/Example"></textarea>
        </div>

        <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-block">Import sitemap</button>
            {{#IsSitemap}}
                <a class="btn btn-danger btn-block" href="/clear-sitemap">Clear sitemap</a>
            {{/IsSitemap}}
        </div>
    </form>
</div>
