<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>{{{Style}}}</style>
    <title>Fuzzy</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Fuzzy</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://bitbucket.org/rjablecki/fuzzy" target="_blank">Docs</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-4 col-xl-3">

            <div class="mt-2">
                {{{History}}}
            </div>

            {{{SitemapBlock}}}




        </div>

        <div class="col-8 col-xl-9">

            <!-- MainForm -->
            {{{MainForm}}}

            <div class="card bg-dark text-white mb-2">
                <div class="card-body">
                    {{{HeaderInfo}}}
                </div>
            </div>

            <!-- ResponseInfo -->
            {{{ResponseInfo}}}

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js"></script>
<script>{{{JavaScript}}}</script>
</body>
</html>